.wrapperEditCounter {
  width: 320px;
  max-width: 100%;
  border: 1px solid #69acf6;
  padding: 10px;
}

.wrapperLabel,
.wrapperSet {
  width: 300px;
}

.wrapperLabel {
  margin: 0 auto 10px;
  padding: 10px;
  border: 1px solid #69acf6;
}

.label {
  display: flex;
  justify-content: space-between;
  color: #69acf6;
  cursor: pointer;
}

.label:not(:last-child) {
  margin-bottom: 20px;
}

.wrapperSet {
  border: 1px solid #69acf6;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}


